[Desktop Entry]
Version=1.0
Type=Application
Name=Keepers
Comment=Gerenciador de downloads
Exec=/home/karan/Documentos/GitHub/Keepers/target/release/keepers
Icon=folder-download-symbolic
Terminal=false
Categories=Network;FileTransfer;
StartupNotify=true
